{% extends "mainpage/header_footer.html" %}
{% block content %}
{% include "mainpage/main_menu.html" %}


{% load static %}
<link href="{% static 'style2.css' %}" rel="stylesheet">
<script src="{% static 'index2.js' %}"></script>

<body>
    <h1>ТОВАРЫ</h1>

    <section>
        <div class="content">
            <div>
                <img src="{% static 'агуша' %}" alt="Агуша" width="200px" height="150px">
                <p>Цена=43руб</p>
                <button class="button-primary plus" data-id="агуша">+</button>
                <button class="button-primary minus" data-id="агуша">-</button>
                <p></p>
            </div>
            <div>
                <img src="{% static 'виноград.png' %}" alt="Виноград" width="200px" height="150px">
                <p>Цена=140руб</p>

                <button class="button-primary plus" data-id="виноград">+</button>
                <button class="button-primary minus" data-id="виноград">-</button>
                <p></p>
            </div>

            <div>
                <img src="{% static 'вискас.png' %}" alt="Whiscas" width="200px" height="150px">
                <p>Цена=45</p>
                <button class="button-primary plus" data-id="вискас">+</button>
                <button class="button-primary minus" data-id="вискас">-</button>
                <p></p>
            </div>

            <div>
                <img src="{% static 'огурцы.png'%}" alt="Огурцы" width="200px" height="150px">
                <p>Цена=220руб</p>
                <button class="button-primary plus" data-id="огурцы">+</button>
                <button class="button-primary minus" data-id="огурцы">-</button>
                <p></p>
            </div>

            
            <div>
                <img src="{% static 'пельмени.png' %}" alt="Пельмени" width="200px" height="150px">
                <p>Цена=150руб</p>
                <button class="button-primary plus" data-id=" пельмени">+</button>
                <button class="button-primary minus" data-id="пельмени">-</button>
                <p></p>
            </div>
            <div>
                <img src="{% static 'плов.png' %}" alt="Плов" width="200px" height="150px">
                <p>Цена=150руб</p>
                <button class="button-primary plus" data-id="плов">+</button>
                <button class="button-primary minus" data-id="плов">-</button>
                <p></p>
            </div>

            <div>
                <img src="{% static 'порошок.png' %}" alt="Порошок" width="200px" height="150px">
                <p>Цена=550руб</p>
                <button class="button-primary plus" data-id="порошок">+</button>
                <button class="button-primary minus" data-id="порошок">-</button>
                <p></p>
            </div>

            <div>
                <img src="{% static 'сыр.png' %}" alt="Сыр" width="200px" height="150px">
                <p>Цена=200руб</p>
                <button class="button-primary plus" data-id="сыр">+</button>
                <button class="button-primary minus" data-id="сыр">-</button>
                <p></p>
            </div>

            <div>
                <img src="{% static 'холодиильник.png' %}" alt="Холодильник" width="200px" height="150px">
                <p>Цена=12000руб</p>
                <button class="button-primary plus" data-id="холодильник">+</button>
                <button class="button-primary minus" data-id="холодильник">-</button>
                <p></p>
            </div>
            
            <div>
                <img src="{% static 'шампунь.png' %}" alt="Шампунь" width="200px" height="150px">
                <p>Цена=175руб</p>
                <button class="button-primary plus" data-id="шампунь">+</button>
                <button class="button-primary minus" data-id="шампунь">-</button>
                <p></p>
            </div>
            
        

        </div>
        <p></p>
        <p></p>
        <p></p>

        <table border="1">
            {% for товар in Товары %}
            <tr> 
                <th><img width="70px" height="50px" src="/static/images/{{товар.picture}}"></th>
                <th>{{товар.namegoods}}</th>
                <th>{{товар.price}}</th>

                {% endfor %}

                <th id="kolichvo">Количество</th>
                <th id="stoimt">Стоимость</th>
                <th id="itogo" colSpan=5>Итого</th>

            </tr>

        </table>


        <input type="button" id="dobav" value="Добавить" onclick="save()" />

        <input type="button" onclick="itogo()" value="Итого:" />

</body>

{% endblock %}
